.col-base-wrapper {
	padding-right: 20px;
	padding-top: 20px;
}
.col-base-wrapper h1 {
	margin: 0;
}
.heading-space {
	margin-bottom: 20px;
}

.edit-container-style {
	padding-top: 5px;
	padding-left: 4px;
}

.main-marker-container {
	display: flex;
}

.marker-color-container {
	padding-top: 5px;
}

.marker-container {
	padding-top: 5px;
	padding-left: 10px;
}

.edit-map-container {
	border-radius: 4px;
	font-size: 30px;
}

.marker-icon {
	padding: 5px;
	cursor: pointer;
}

.marker-icon-container {
	display: flex;
}

.marker-heading {
	padding: 4px;
	padding-top: 10px;
	font-weight: bold;
	font-family: sans-serif;
}

.marker-color-section {
	display: flex;
}

.marker-icon-color-section {
	display: flex;
}

.marker-icon-color {
	border-radius: 50px;
	margin: 5px;
	border-style: double;
	cursor: pointer;
}
